@import './header-components/topbar';
@import './header-components/upper';

.header {
    border-bottom: $base-border-widht solid;
}

.site__title__director__name {
    @include font-family-din-pro-medium {
        @extend %description-14;
        color: $color-verde-due;
    }

    #navbar-brand-name {
        @include font-family-din-pro-bold {
            @extend %description-14;
            color: $color-verde-due;
        }
    }
}

.bottom__menu__wrapper {
    padding: 0;
}