.front__page__front__post__from__blog {
    padding: 25px 0;
}

.front__page__front__post__from__blog .front-content {
    padding: 10px 30px 60px;
    /* margin: 0px 20px 0px 20px; */
    border-bottom: 2px solid black;
}

.front-content .wp-post-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.front__posts {
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 40px;
}