@mixin font-family-din-pro {
    font-family: $font-din-pro, sans-serif;
    @content;
}

@mixin font-family-din-pro-bold {
    font-family: $font-din-pro-bold, sans-serif;
    @content;
}

@mixin font-family-din-pro-condensed {
    font-family: $font-din-pro-condensed, sans-serif;
    @content;
}

@mixin font-family-din-pro-light {
    font-family: $font-din-pro-light, sans-serif;
    @content;
}

@mixin font-family-din-pro-medium {
    font-family: $font-din-pro-medium, sans-serif;
    @content;
}

@mixin media($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {

        // Get the breakpoint value.
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        // Write the media query.
        @media (max-width: $breakpoint-value) {
            @content;
        }

        // If the breakpoint doesn't exist in the map.
    }

    @else {

        // Log a warning.
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

@mixin button-outline-variant($color,
    $color-hover: color-contrast($color),
    $active-background: $color,
    $active-border: $color,
    $active-color: color-contrast($active-background)) {
    color: $color;
    border-color: $color;

    &:hover {
        color: $color-hover;
        background-color: $active-background;
        border-color: $active-border;
    }

    .btn-check:checked+&,
    .btn-check:active+&,
    &:active,
    &.active,
    &.dropdown-toggle.show {
        color: $active-color;
        background-color: $active-background;
        border-color: $active-border;
    }

    &:disabled,
    &.disabled {
        color: $color;
        background-color: transparent;
    }
}