.upper__menu,
.bottom__menu {
    a {
        @include font-family-din-pro-medium {
            @extend %description-14;
            color: $color-nero;
        }
    }
}

.active {
    .nav-link {
        position: relative;

        &::before {
            content: "";
            width: 100%;
            height: 5px;
            color: $color-verde-tre;
            background-color: $color-verde-tre;
            position: absolute;
            top: 95%;
            left: 0;
        }
    }
}