.upper__menu,
.bottom__menu {
    a {
        @include font-family-din-pro-medium {
            @extend %description-14;
            color: $color-nero;
        }
    }
}

.upper__menu {
    .newsletter__nav__link {
        .nav-link {
            background-color: $color-verde-tre;
            color: #fff;
            transition: .3 all $ease-out;
            padding: .5rem 5px;

            &:hover {
                color: $color-verde-tre;
                background-color: transparent;
            }
        }
    }
}

.active {
    .nav-link {
        position: relative;

        &::after {
            content: "";
            width: 100%;
            height: 5px;
            color: $color-verde-tre;
            background-color: $color-verde-tre;
            position: absolute;
            top: 95%;
            left: 0;
        }
    }
}