.search__form__content {
    position: relative;
}

.search__sumbit__button {
    position: absolute;
    top: 3.5px;
    left: 10px;
    background-color: transparent;
    border: none;
}

.topbar__search__input {
    text-indent: 33px;
    height: 35px;
    border-radius: 0;
}