@import 'footer-parts/footer-menu.css';

.footer__section {
    padding: 15px;
    background-color: #2b2b2b;
}

.footer__widget {
    color: #0ff;
}

.footer__social__icon {
    text-align: end;
    align-self: flex-end;
}

.footer__social__icon .social__link {
    color: #0ff;
}

.footer__social__icon .social__link:hover {
    color: #009191;
}