.footer__menu {
    border-bottom: 2px solid #00ffff;
    color: #00ffff;
    align-items: end;
}

.footer__menu .nav-link {
    color: #00ffff;
}

.footer__menu .nav-link:hover {
    color: #009191;
}