.top-bar {
    text-align: center;
    border-bottom: 2px solid;
    padding: 5px 0;
}

.single__post__author {
    padding: 0 0 0 15px;
}

.intestazione__articolo {
    padding: 30px 0;
    text-transform: uppercase;
}