.tags__title {
    margin-top: 25px;
    display: inline-block;
    border-bottom: 1px solid;
    width: 45%;
}

.tags__cloud__tags {
    list-style-type: none;
}

.tags__tag__item__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}