.top-bar {
    @include font-family-din-pro-medium {
        @extend %description-14;
        color: $color-verde-tre;
    }

    text-align: center;
    border-bottom: $base-border-widht solid $color-nero;
    padding: 5px 0;
}

.single__post__author {
    @include font-family-din-pro-medium {
        @extend %description-14;
        color: $color-verde-tre;
    }

    padding: 0 0 0 15px;
}

.intestazione__articolo {
    padding: 30px 0;
    text-transform: uppercase;

    span {
        vertical-align: unset;

        img {
            transform: scale(1.5);
        }
    }
}