.post__title_and__thumbnail {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    color: #fff;
}

.single__post__title {
    margin-top: 25px;
}